h1 {
    text-align: center;
    color: black;
    font-size: 40px;
    border: 2px;
    text-transform: uppercase;

}

#signupForm {
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    margin-right: 100px;
    margin-left: 100px;
}

.row {
    border: 10px;
    margin-right: 100px;
    margin-left: 100px;
}

.column {
    flex: 10%;
    padding: 10px;
    border: 10px;
}

body {
    background-color: orange;
}

#submit {
    color: black;
    font-size: 2em;
    border: 2px solid black;
    background-color: yellow;
    text-transform: uppercase;

}

